<%- include ../partials/header %>

<div class="container">
		
	<div class="row justify-content-center">
		<div class="col-md-6 col-sm-10 align-self-center ">
			<div class="form-container card  text-center justify-content-center">
				<h2 class="card-title text-light font-weight-light mb-5">bem-vindo</h3>
				<form action="\autenticar" method="post" accept-charset="utf-8">
					<div class="form-group">
						<input type="text" name="usuario" value="" placeholder="Usuário" class="form-control form-field">
						<input type="password" name="senha" value="" placeholder="Senha" class="form-control form-field">
					</div>
					<button type="submit" class="btn btn-block btn-outline-light mt-4">Enviar</button>
				</form>
			</div>
		</div>
	</div>
</div>


<%- include ../partials/footer %>